<div class="contenedor-principal">
  <div class="form presupuesto">
    <label>Ingresa tu Presupuesto:</label>
    <input
      type="number"
      min="0"
      (keyup.enter)="ingresarPresupuesto()"
      [readonly]="existePresupuesto"
      [(ngModel)]="presupuesto"
    />
    <button (click)="ingresarPresupuesto()" *ngIf="!existePresupuesto">
      Listo
    </button>
  </div>

  <div class="form gasto" *ngIf="existePresupuesto">
    <h3>Agrega tus gastos aquí</h3>
    <div class="campo">
      <label> Nombre del Gasto: </label>
      <input
        type="text"
        placeholder="nombre del Gasto"
        [(ngModel)]="nombreGasto"
        (keyup.enter)="agregarGasto()"
      />
    </div>
    <div class="campo">
      <label> Cantidad: </label>
      <input
        type="number"
        [(ngModel)]="cantidadGasto"
        (keyup.enter)="agregarGasto()"
      />
    </div>
    <button (click)="agregarGasto()">Listo</button>
  </div>

  <div class="contenedor-lista">
    <div class="restante" *ngIf="existePresupuesto">
      <p>Saldo disponible</p>
      <p>{{ restante }} $</p>
    </div>

    <div class="caja-lista">
      <ul>
        <li *ngFor="let gasto of gastos; index as indice">
          <p>{{ gasto.nombreGasto }}</p>
          <div>
            <span>${{ gasto.cantidadGasto }} $</span>
            <button (click)="eliminarGasto(indice, gasto.cantidadGasto)">
              <img src="../assets/delete-icon.svg" alt="delete" />
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div *ngIf="existePresupuesto">
  <h1 class="titulo">Gasto Semanal</h1>
  <div class="contenido-principal">
    <div class="fila">
      <div class="columna">
        <h3 class="subtitulo">Agrega tus gastos aquí</h3>
        <div class="campo">
          <label> Nombre del Gasto: </label>
          <input
            type="text"
            [(ngModel)]="nombreGasto"
            (keyup.enter)="agregarGasto()"
          />
        </div>
        <div class="campo">
          <label> Cantidad: </label>
          <input
            type="number"
            [(ngModel)]="cantidadGasto"
            (keyup.enter)="agregarGasto()"
          />
        </div>
        <button (click)="agregarGasto()">Agregar</button>
      </div>

      <div class="columna">
        <div>
          <h3 class="subtitulo">Listado</h3>
          <ul>
            <li *ngFor="let gasto of gastos; index as indice" class="gastos">
              <div class="gasto">
                {{ gasto.nombreGasto }}
                <span class="gasto">${{ gasto.cantidadGasto }}</span>
                <button (click)="eliminarGasto(indice, gasto.cantidadGasto)">
                  Eliminar
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <span>Presupuesto: ${{ presupuesto }}</span>
        </div>
        <div>
          <span>Restante: ${{ restante }}</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
