<div class="contenedor-principal">
  <div class="form presupuesto">
    <label>Ingresa tu Presupuesto:</label>
    <input
      type="number"
      min="0"
      (keyup.enter)="ingresarPresupuesto()"
      [readonly]="existePresupuesto"
      [(ngModel)]="presupuesto"
    />
    <button (click)="ingresarPresupuesto()" *ngIf="!existePresupuesto">
      Listo
    </button>
  </div>

  <div class="form gasto" *ngIf="existePresupuesto">
    <h3>Agrega tus gastos aquí</h3>
    <div>
      <label> Nombre del Gasto: </label>
      <input
        type="text"
        placeholder="nombre del Gasto"
        [(ngModel)]="nombreGasto"
        (keyup.enter)="agregarGasto()"
      />
    </div>
    <div>
      <label> Cantidad: </label>
      <input
        type="number"
        [(ngModel)]="cantidadGasto"
        (keyup.enter)="agregarGasto()"
      />
    </div>
    <button (click)="agregarGasto()">Listo</button>
  </div>

  <div class="contenedor-lista">
    <div class="restante" *ngIf="existePresupuesto">
      <p>Saldo disponible</p>
      <p>{{ restante }} Bs</p>
    </div>

    <div class="caja-lista">
      <ul>
        <li *ngFor="let gasto of gastos; index as indice">
          <p>{{ gasto.nombreGasto }}</p>
          <div>
            <span>{{ gasto.cantidadGasto }} Bs</span>
            <button (click)="eliminarGasto(indice, gasto.cantidadGasto)">
              <img src="https://raw.githubusercontent.com/angular-bolivia/ng-she-workshop/develop/src/assets/delete-icon.svg" alt="delete" />
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
