<div *ngIf="!existePresupuesto" class="contenido-principal contenido">
  <label>
    Presupuesto
    <input [(ngModel)]="presupuesto" type="number">
  </label>
  <input type="submit" value="Ingresar Presupuesto" (click)="ingresarPresupuesto()">
</div>
<div *ngIf="existePresupuesto">
  <header class="encabezamiento"><h1>Gasto Semanal</h1></header>
  <div class="contenido-principal contenido">
    <div class="fila">
      <div class="columna">
        <h3>Agrega tus gastos aquí</h3>
        <div class="campo">
          <label>
            Nombre Gasto
            <input [(ngModel)]="nombreGasto" type="text" />
          </label>
        </div>
        <div class="campo">
          <label>
            Cantidad
            <input [(ngModel)]="cantidadGasto" type="number" />
          </label>
        </div>
        <input type="submit" value="Agregar" (click)="agregarGasto()">
      </div>

      <div class="columna">
        <div>
          <h3>Listado</h3>
          <ul>
            <li *ngFor="let gasto of gastos; index as indice" class="gastos">
              <div class="gasto">
                {{gasto.nombreGasto}}
                <span class="gasto">${{gasto.cantidadGasto}}</span>
                <button (click)="eliminarGasto(gasto)">Eliminar</button>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <span>Presupuesto: $ {{presupuesto}}</span>
        </div>
        <div>
         <span>Restante: $ {{restante}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
