/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;

  height: 100vh;
  min-width: 100%;

  background-color: #1c162e;
  background-image: url("./assets/bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
  margin: 10px 0;
}

input::placeholder {
  color: #aaaaaa;
  font-family: "montserrat", sans-serif;
  font-size: 16px;
}
